@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    margin: 55px auto 100px;

    width: 1348px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}


.header__logo {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;


    color: #79589F;
}

.nav__btns:hover {
    cursor: pointer;
}

.nav__btn1 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;

    color: white;

    width: 200px;
    height: 50px;

    border-radius: 50px;
    border: 2px solid #79589F;

    background-color: #79589F;

    margin-right: 35px;
}

.nav__btn2 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;

    color: #79589F;

    width: 165px;
    height: 50px;

    border-radius: 50px;
    border: 2px solid #79589F;

    background-color: white;
}

.block__title {
    margin: 0 auto 0;

    width: 1348px;

    display: flex;
    justify-content: space-between;
}

.title {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;

    color: black;

    width: 600px;
    height: 40px;

    margin-bottom: 50px;
}

.subtitle {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;

    color: black;

    width: 524px;
    height: 231px;

    margin-bottom: 25px;
}

.sign__in__for__free {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;

    color: white;

    width: 320px;
    height: 70px;

    border-radius: 25px;
    border: 2px solid #79589F;

    background-color: #79589F;
}

.sign__in__for__free:hover {
    cursor: pointer;
}


.detail__info__block {
    margin-top: 150px;

    width: 1348px;

    margin-left: auto;
    margin-right: auto;
}

.detail__inner {
    display: flex;
    justify-content: space-between;
}

.title__info {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;

    color: black;

    text-align: center;

    margin-bottom: 100px;
}

.subtitle__info {
    width: 643px;
    height: 400px;

    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;

    color: black;
}

.detail__image__info {
    margin-bottom: 200px;
}

.title__contact {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;

    color: black;

    text-align: center;

    margin-top: 100px;
    margin-bottom: 50px;
}

.contact__inner {
    width: 1286px;
    height: 700px;

    background-color: #8464A5;

    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;

    display: flex;
    justify-content: space-between;
}

.contact__title_2 {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;

    color: white;
}

.main__container__contact {
    margin-top: 230px;
    margin-left: 80px;
}

.subtitle__contact {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 500;

    color: white;
}


.contact__button {
    background: none;

    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;

    border: 2px solid white;
    border-radius: 15px;

    width: 290px;
    height: 80px;

    color: white;

    margin-top: 100px;
}

.contact__button:hover{cursor: pointer}

.contact__image {
    margin-top: 100px;
    margin-right: 40px;
}


.footer {
    height: 230px;

    background-color: #F3F3F3;

    display: flex;
    justify-content: space-between;
}

.footer__inner {
    margin-top: 40px;
    margin-left: 120px;
}

.footer__logo {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;


    color: #79589F;
}

.footer__info {
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
}

.Image4 {
    margin-top: 100px;
    margin-right: 200px;
}

.scroll__down1 {
    text-align: center;

    margin-top: 150px;
    margin-bottom: 25px;
}

.scroll__down2 {
    width: 50px;
    height: 30px;
}